## Regression Problem on Marketing Spending on platforms.

In [3]:
# Libraries 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model
from sklearn.linear_model import LinearRegression
# sklearn.linear_model.LinearRegression()
# sklearn.linear_model.LinearRegression(fit_intercept=True, normalize=False, copy_X=True) this is the default parameters

Objective: To find how much clicks that we could get based on the marketing spending?

I'm trying to re-create the formula to fit with the industrial problem

Y = mX1 + mX2 + mX3 + mX4

In [4]:
df = pd.read_excel("Ent_Sport.xlsx") # Here can change to another xlsx file 

# df = pd.read_csv("xxx.csv") # to read csv file

In [13]:
# Checking Missing value in columns.

df['facebook_spend'].isnull().values.any() 

# To check if there is any null value inside

False

In [14]:
# if there is missing value in the columns, can fill with either 0 or mean value as per needed. For this experiment it being filled with 0.

df['facebook_clicks'] = df['facebook_clicks'].fillna(0) 
df.head() # to check the top 5 rows

,day,start_date,facebook_spend,facebook_impressions,facebook_clicks,tiktok_spend,tiktok_impressions,tiktok_clicks,youtube_spend,youtube_impressions,youtube_clicks,google_sem_spend,google_sem_impressions,google_sem_clicks,google_uac_spend,google_uac_impressions,google_uac_installs,apple_search_spend,apple_search_impressions,apple_search_installs
0,1,2021-11-01,403.03,64488,1267.0,0.0,0,0,0.0,0,0,5.40,69,5,6501.95,1812366,895,0,0,0.0
1,2,2021-11-02,386.07,59139,1351.0,0.0,0,0,0.0,0,0,0.00,3,0,529.98,106216,72,0,0,0.0
2,3,2021-11-03,390.96,56816,1408.0,0.0,0,0,0.0,0,0,196.49,980,83,12292.04,2883015,1864,0,0,0.0
3,4,2021-11-04,268.06,53728,892.0,0.0,0,0,0.0,0,0,1345.28,5881,633,6791.90,1196285,1302,0,0,0.0
4,5,2021-11-05,622.12,133965,1629.0,0.0,0,0,0.0,0,0,1034.88,4113,467,6640.48,1211114,1410,0,0,0.0

In [15]:
# Total Clicks == (Y-value)
# We sum the clicks from across the social media platform

df['tot_clicks'] = df['facebook_clicks'] + df['tiktok_clicks'] + df['youtube_clicks'] + df['google_sem_clicks']
print(df['tot_clicks'])

0       1272.0
1       1351.0
2       1491.0
3       1525.0
4       2096.0
        ...
146    24421.0
147    18921.0
148    77070.0
149    84440.0
150    83981.0
Name: tot_clicks, Length: 151, dtype: float64

In [16]:
# Dependent and Independent Variable assignation 

X = df[['facebook_spend', 'tiktok_spend','youtube_spend', 'google_sem_spend']] # Independent Variable

y = df['tot_clicks'] # Dependent Variable

In [17]:
print(y)

0       1272.0
1       1351.0
2       1491.0
3       1525.0
4       2096.0
        ...
146    24421.0
147    18921.0
148    77070.0
149    84440.0
150    83981.0
Name: tot_clicks, Length: 151, dtype: float64

In [18]:
# Checking the x2 and x1 properties
print(X)

#print(df['tot_clicks'])

     facebook_spend  tiktok_spend  youtube_spend  google_sem_spend
0            403.03          0.00           0.00              5.40
1            386.07          0.00           0.00              0.00
2            390.96          0.00           0.00            196.49
3            268.06          0.00           0.00           1345.28
4            622.12          0.00           0.00           1034.88
..              ...           ...            ...               ...
146         4441.93        284.18         947.56           1133.40
147         3525.88        272.92         249.36            944.18
148         3417.44       2516.62         253.73            891.33
149         3586.15       2626.13         256.48           1389.39
150         5889.49       2153.83         260.57           1766.30

[151 rows x 4 columns]

In [19]:
df.info() # To check the dataframe for column and data type

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151 entries, 0 to 150
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   day                       151 non-null    int64
 1   start_date                151 non-null    datetime64[ns]
 2   facebook_spend            151 non-null    float64
 3   facebook_impressions      151 non-null    int64
 4   facebook_clicks           151 non-null    float64
 5   tiktok_spend              151 non-null    float64
 6   tiktok_impressions        151 non-null    int64
 7   tiktok_clicks             151 non-null    int64
 8   youtube_spend             151 non-null    float64
 9   youtube_impressions       151 non-null    int64
 10  youtube_clicks            151 non-null    int64
 11  google_sem_spend          151 non-null    float64
 12  google_sem_impressions    151 non-null    int64
 13  google_sem_clicks         151 non-null    int64
 14  google_uac_spend          151 non-null    float64
 15  google_uac_impressions    151 non-null    int64
 16  google_uac_installs       151 non-null    int64
 17  apple_search_spend        151 non-null    int64
 18  apple_search_impressions  151 non-null    int64
 19  apple_search_installs     150 non-null    float64
 20  tot_clicks                151 non-null    float64
dtypes: datetime64[ns](1), float64(8), int64(12)
memory usage: 24.9 KB

In [20]:
# Slicing down the dataframe to columns that we only needed.

data = df[['tot_clicks', 'facebook_spend', 'tiktok_spend', 'youtube_spend', 'google_sem_spend']]
data.tail()

     tot_clicks  facebook_spend  tiktok_spend  youtube_spend  google_sem_spend
146     24421.0         4441.93        284.18         947.56           1133.40
147     18921.0         3525.88        272.92         249.36            944.18
148     77070.0         3417.44       2516.62         253.73            891.33
149     84440.0         3586.15       2626.13         256.48           1389.39
150     83981.0         5889.49       2153.83         260.57           1766.30

In [21]:
# Train the model using Linear Regression

model = linear_model.LinearRegression()
model.fit(X,y) # Fitting model is like generalizes the machine learning model to similar data to that on which it was trained

# X, y is the columns that we set for the dependent and independent variables.

LinearRegression()

In [22]:
print(model.coef_) # printing the weight of that rm1

# The coefficient explained that if we want to increase by 1 clicks, the cost required for each of the platform will be MYR 2.4, MYR 25.5, MYR -2.2 , MYR 1

[ 2.43218098 25.56467814 -2.28443923  1.07489264]

## Prediction of Total Clicks Based on Spending

### Since we have the model coefficient and regression object, we can predict Total Clicks (tot_clicks) values.

In [23]:
#predict the Total Clicks where the facebook_spending (1000) tiktok_spending (500) youtube_spend (500) google_sem_spending (500):
predicted_clicks = model.predict([[1000, 500, 500, 500]])

In [25]:
print("Total clicks predicted: " , predicted_clicks) # Print

Total clicks predicted:  [12566.54756502]

In [26]:
#predict the Total Clicks where the facebook_spending (0) tiktok_spending (783) youtube_spend (0) google_sem_spending (624):
predicted_clicks1 = model.predict([[0,500, 500, 500]])
print("Total clicks predicted: " ,predicted_clicks1)

Total clicks predicted:  [10134.36658989]